.sources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;

    overflow-x: hidden;
    overflow-y: auto;

    /* customize scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #30c5ff rgba(0, 0, 0, 0.2);

    align-items: center;
    font: 300 1em 'Montserrat', sans-serif;
    justify-content: center;
}
/* customize scrollbar for -webkit browsers*/
.sources::-webkit-scrollbar {
    width: 5px;
    background: rgba(0, 0, 0, 0.2);
}
.sources::-webkit-scrollbar-thumb {
    background: #30c5ff;
}

.source__item {
    background: none;
    border: 1px solid #30c5ff;
    font: inherit;
    line-height: inherit;
    line-height: 1;
    margin: 5px;
    padding: 5px 10px;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
