@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Vollkorn:wght@400;500&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
html,
body {
    height: 100%;
    scroll-behavior: smooth;
    min-width: 320px;
}
aside,
nav,
footer,
header,
section {
    display: block;
}
a {
    text-decoration: none;
    color: #e5e5e5;
    display: block;
    transition: color 1s ease;
}
a:hover {
    color: #4dc9c9;
    transition: color 0.5s ease;
}
a:active {
    color: #4dc9c9;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    color: #e5e5e5;
}
h1 {
    font-size: 40px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    background: #17181c;
}
.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
    overflow: hidden;
    background: center / cover url(./assets/images/backgrnd.png) no-repeat;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer {
    /* min-height: 10vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__item {
    margin: 15px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer__link {
    position: relative;
    /*padding-left: 35px;*/
    color: #e5e5e5;
    display: flex;
    align-items: center;
}
.footer__link span {
    margin-left: 10px;
}
.footer__link:hover {
    color: #4dc9c9;
}
.footer__link svg path {
    fill: #e5e5e5;
}
.footer__link:hover svg path {
    fill: #4dc9c9;
}
.footer__link,
.footer__link svg path {
    transition: 0.5s ease-in-out;
}
